@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #14213D;
    color: #E5E5E5;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #FCA311;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: #14213D;
}

.stats-container {
    display: flex;
    align-items: center;
    color: #14213D;
}


.stats-card {
    background-color: #FFDDD2;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #14213D;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFDDD2;
}

.game-card {
    background-color: #FFDDD2;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #FCA311;
}

#button-container {
    text-align: center;
}

button {
    background-color: #FCA311;
    color: #14213D;
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

/*flip card*/

#first-game:hover, #second-game:hover{
    transform: rotateY(180deg);
}
.front-card, .back-card{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
}

.back-card{
    transform: rotateY(180deg);
    background-color: #FFDDD2;
}

#first-game, #second-game{
    transition: transform 0.6s;
    border-radius: 7px;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 3%;

}